<div class="ButtonZone">

  <div class="column">
<input type="image" src="../../../../assets/Drum Stick Type/Stick icon.png" (click)="changeToStick()">
<p>Stick</p>
  </div>
    <div class="column">
<input type="image" src="../../../../assets/Drum Stick Type/Brushes icon.png" (click)="changeToBrushes()">
<p>Brushes</p>
    </div>
      <div class="column">
<input type="image" src="../../../../assets/Drum Stick Type/Mallet icon.png"(click)="changeToMallets()">
<p>Mallets</p>
      </div>
        <div class="column">
<input type="image" src="../../../../assets/Drum Stick Type/Rod icon.png"(click)="changeToRods()">
<p>Rods</p>
        </div>
</div>

