<nav>
  <button id="HomePage"><a [routerLink]="['/frontPage']">FH creations</a></button>
  <ul id = "opçoesCabeçalho">
      <li id="scrollProjectos">Projectos
        <ul id="listaDeProjectos">
          <li><a [routerLink]="['/customBateria']"> Personalização Bateria</a></li>
          <li><a [routerLink]="['/api']">API</a></li>
        </ul>
      </li>
      <li>contactos</li>

    <li><button><a [routerLink]="['/login']">Login</a></button></li>
    </ul>
  <img id="logoPrincipal"[src]="logoSite"/>
</nav>



