<div class="ButtonZone">


  <div class="column">
<input type="image" src="../../../../assets/Drum Disposition/Two-Up-One-Down.png" (click)="changeToTwoUpOneDown()">
<p>Two Up - One down</p>
  </div>
    <div class="column">
<input type="image" src="../../../../assets/Drum Disposition/Double-Bass-Drum-Kit-Plus-Extra.png" (click)="changeToDoubleBassDrum()">
<p>Double Bass Drum</p>
    </div>
      <div class="column">
<input type="image" src="../../../../assets/Drum Disposition/Fusion-Kit.png"(click)="changeToFusion()">
<p>Fusion</p>
      </div>
        <div class="column">
<input type="image" src="../../../../assets/Drum Disposition/Classic-Rock-Kit.png"(click)="changeToClassicRock()">
<p>Classic Rock</p>
        </div>
          <div class="column">
<input type="image" src="../../../../assets/Drum Disposition/Jazz-Kit.png"(click)="changeToJazz()">
<p>Jazz</p>

</div>
