

<div class="ButtonZone">

  <div class="column">
<input type="image" src="../../../../assets/Drum Material/WoodMaterial.jpg" (click)="changeToWood()">
<p>Wood</p>
</div>
  <div class="column">
<input type="image" src="../../../../assets/Drum Material/SteelMaterial.jpg" (click)="changeToSteel()">
<p>Steel</p>
  </div>
    <div class="column">
<input type="image" src="../../../../assets/Drum Material/Brass%20Material.jpeg"(click)="changeToBrass()">
<p>Brass</p>
    </div>
      <div class="column">
<input type="image" src="../../../../assets/Drum Material/Aluminium%20Material.jpg"(click)="changeToAluminium()">
<p>Aluminium</p>

      </div>
</div>

