
<!--
<ul id="Quadrados de cor">
  <button id=blue (click)="changeToBlue()"></button>
  <button id=yellow (click)="changeToYellow()"></button>
  <button id=pink (click)="changeToPink()"></button>
  <button id=red (click)="changeToRed()"></button>
  <button id=green (click)="changeToGreen()"></button>
  <button id=grey (click)="changeToGrey()"></button>
</ul>
-->

<div class="ButtonZone">
<div class="column">
  <button id=blue (click)="changeToBlue()"></button>
  <p>Blue</p>
</div>

<div class="column">
  <button id=yellow (click)="changeToYellow()"></button>
  <p>Yellow</p>

</div>

  <div class="column">
    <button id=pink (click)="changeToPink()"></button>
    <p>Pink</p>
  </div>

  <div class="column">
    <button id=red (click)="changeToRed()"></button>
    <p>Red</p>
  </div>

  <div class="column">
    <button id=green (click)="changeToGreen()"></button>
    <p>Green</p>
  </div>

  <div class="column">
    <button id=grey (click)="changeToGrey()"></button>
    <p>Grey</p>
  </div>


</div>







